footer {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px lightgray;
}

.copyright {
    padding-left: 20px;
    color: $primary-color;
    i {
        color: $primary-color;
    }
}

.links {
    padding-right: 20px;
    i {
        color: $secondary-color;
    }
}