header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-color;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $primary-color, $secondary-color);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $primary-color, $secondary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        height: 60px;
        margin-right: 15px;
    }

    h1 {
        font-size: 15px;
        color: white;
    }
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;

    .toggleSearch {
        display: none;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        
        input {
            height: 40px;
            width: 100%;
            border-radius: 20px;
            font-size: 16px;
            padding-left: 15px;

        }

        input:focus {
            outline: none;
        }

        button {
            position: absolute;
            right: 0;
            font-size: 16px;
            border-radius: 20px;
            padding: 9px;
            z-index: 1;
        }
    }
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
        color: white;
    }

    img {
        height: 50px;
        border-radius: 50%;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0px 20px;
    }

    .searchBar {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .toggleSearch {
            display: inline-block;
            font-size: 20px;
            border-radius: 20px;
            padding: 9px;
        }

        form {
            width: 100%;
            height: 60px;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 10px;
            z-index: -1;
            display: none;
            transform: translateY(-100%);

            &.is-active {
                display: block;
                transform: translateY(0);
            }
            
        }
    }
}