header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-color;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $primary-color, $secondary-color);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $primary-color, $secondary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        height: 60px;
        margin-right: 15px;
    }

    h1 {
        font-size: 15px;
        color: white;
    }
}
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 400px;
        display: flex;
        justify-content: center;
        position: relative;
        
        input {
            height: 40px;
            width: 100%;
            border-radius: 20px;
            font-size: 16px;
            padding-left: 15px;

        }

        input:focus {
            outline: none;
        }

        button {
            position: absolute;
            right: 0;
            font-size: 16px;
            border-radius: 20px;
            padding: 9px;
            z-index: 1;
        }
    }
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
        color: white;
    }

    img {
        height: 50px;
        border-radius: 50%;
        margin-left: 15px;
    }
}
